<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>631552063802-5p9098075d6d9elprkqv7f26k7ru5grn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.631552063802-5p9098075d6d9elprkqv7f26k7ru5grn</string>
	<key>API_KEY</key>
	<string>AIzaSyB8QisikTNh14CFTAm8IWqh6a7_p7vj8yM</string>
	<key>GCM_SENDER_ID</key>
	<string>631552063802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>first.ToDoFire</string>
	<key>PROJECT_ID</key>
	<string>todofire-52ede</string>
	<key>STORAGE_BUCKET</key>
	<string>todofire-52ede.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:631552063802:ios:4dba171b1e4db30b18b803</string>
</dict>
</plist>